# Some have macs...
###################################################################
.DS_Store

# Backup files
###################################################################
*~
\#*\#
*.bak
*.backup

*.o
*.jessie
.frama-c
